main {
  width: 736px;

  margin-left: auto;
  margin-right: auto;
}

.formAddTask {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  position: relative;
  bottom: 27px;

  width: 100%;
}

.taskContainer {
  /* display: flex; */
  width: 100%;
}

.taskContainerTitleWrapper {
  display: flex;
  justify-content: space-between;
}

.taskContainerTitleWrapper strong {
  font-size: 0.875rem;
}

.taskContainerTitleWrapper span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.taskContainerTitleWrapper span:first-child strong {
  color: var(--blue);
}

.taskContainerTitleWrapper span:last-child strong {
  color: var(--purple);
}

.counter {
  padding: 0.125rem 0.5rem;

  background-color: var(--gray-400);
  color: var(--gray-200);

  border-radius: 62.4375rem;

  font-size: 0.75rem;
}